CMakeLists.txt.user
Links
issue_167.md

# =============================
# STM32CubeIDE / Eclipse files
# =============================

# Project metadata (IDE-specific)
.metadata/
RemoteSystemsTempFiles/

# CubeMX internal file (optional to ignore)
*.mxproject

# =============================
# Build folders
# =============================
Debug/
Release/
build/
out/
tests/car-control/build
tests/car_cluster/build
src/car-control/joystick-can/build
src/car-control/raspberry-control/build
src/car_cluster/build
docs/TSF/trustable

# =============================
# Compiled objects
# =============================
*.o
*.d
*.su
*.elf
*.bin
*.hex
*.map
*.srec
*.list
*.log

# =============================
# Temporary & Backup files
# =============================
*.tmp
*.bak
*.swp
*.swm
*.swo
*.swn
*.orig

# =============================
# OS-specific
# =============================
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Linux
*~

# =============================
# Tools / misc cache
# =============================
.cache/

# =============================
# TSF
# =============================
.dotstop.dot
docs/trustable/
graph
graph.svg

# Local Review Checklist


# Python Virtual Environment
venv/
local_metrics/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Allow logs specifically for TSF/Trudag evidence in test directories
!tests/**/*.log
!tests/**/reports/*.txt
docs/trustable/
!docs/trustable/mkdocs_trustable.yml
!docs/trustable/custom_fixes.css
!docs/trustable/index.md

# Trudag
.dotstop.dot
issue_137.md

**/.qtcreator/

# Hailo conversion local environment and generated artifacts
convert_hailo/.env.hailo
convert_hailo/hailo-env/
convert_hailo/shared_with_docker/*
!convert_hailo/shared_with_docker/README.md

# script
pipeline.sh

.venv/
venv/