BASE_PROJECT=/absolute/path/to/LKA_model
VENV_NAME=/absolute/path/to/convert_hailo/hailo-env
SHARED_DIR=/absolute/path/to/convert_hailo/shared_with_docker
CONTAINER_NAME=hailo8_ai_sw_suite_2025-10_container
DOCKER_IMAGE_NAME=hailo8_ai_sw_suite_2025-10:1
DOCKER_TAR_FILE=hailo8_ai_sw_suite_docker_2025-10.tar.gz
